<p id="notice"><%= notice %></p>

<h1>Studentinfos</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @studentinfos.each do |studentinfo| %>
      <tr>
        <td><%= link_to 'Show', studentinfo %></td>
        <td><%= link_to 'Edit', edit_studentinfo_path(studentinfo) %></td>
        <td><%= link_to 'Destroy', studentinfo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Studentinfo', new_studentinfo_path %>
